apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  ports:
  - name: "3306"
    port: 3306
    targetPort: 3306
    nodePort: 30306
  selector:
    app: mysql
  type: NodePort
